<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Acasă</title>
</head>
<body>
<h2>Bun venit!</h2>
<h3>Vehiculele tale:</h3>
<table border="1">
    <thead>
    <tr>
        <th>Nr. înmatriculare</th>
        <th>Marca</th>
        <th>Model</th>
        <th>An</th>
        <th>Tip</th>
        <th>Disponibil</th>
        <th>Serie Sasiu</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicul : ${vehicule}">
        <td th:text="${vehicul.nrInmatriculare}">Nr. înmatriculare</td>
        <td th:text="${vehicul.marca}">Marca</td>
        <td th:text="${vehicul.model}">Model</td>
        <td th:text="${vehicul.anFabricatie}">An</td>
        <td th:text="${vehicul.tip}">Tip</td>
        <td th:text="${vehicul.disponibil ? 'Da' : 'Nu'}">Disponibil</td>
        <td th:text="${vehicul.serieSasiu}">Serie Sasiu</td>
    </tr>
    </tbody>
</table>

<button onclick="location.href='/acasa/adauga-vehicul'" style="margin-top: 20px;">Adaugă Vehicul</button>

</body>
</html>