<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Acasă</title>

    <script>
        function confirmDelete(vehiculId) {
            console.log(vehiculId);
            if (confirm("Ești sigur că vrei să ștergi acest vehicul?")) {
                window.location.href = '/delete-vehicul/' + vehiculId;
            }
        }
    </script>

</head>
<body>
<h2>Bun venit!</h2>
<h3>Vehiculele tale:</h3>
<table border="1">
    <thead>
    <tr>
        <th>Nr. înmatriculare</th>
        <th>Marca</th>
        <th>Model</th>
        <th>An</th>
        <th>Tip</th>
        <th>Disponibil</th>
        <th>Serie Sasiu</th>
        <th>Acțiuni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicul : ${vehicule}">
        <td th:text="${vehicul.nrInmatriculare}">Nr. înmatriculare</td>
        <td th:text="${vehicul.marca}">Marca</td>
        <td th:text="${vehicul.model}">Model</td>
        <td th:text="${vehicul.anFabricatie}">An</td>
        <td th:text="${vehicul.tip}">Tip</td>
        <td th:text="${vehicul.disponibil ? 'Da' : 'Nu'}">Disponibil</td>
        <td th:text="${vehicul.serieSasiu}">Serie Sasiu</td>
        <td>
            <button th:onclick="'confirmDelete(' + ${vehicul.id} + ')'" style="border: none; background: none; cursor: pointer;">
                <img src="/images/trash-icon.png" alt="Șterge" width="20" height="20">
            </button>
        </td>
    </tr>
    </tbody>
</table>

<button onclick="location.href='/acasa/adauga-vehicul'" style="margin-top: 20px;">Adaugă Vehicul</button>

</body>
</html>