<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<head>
    <title>Acasă</title>

    <script>
        function confirmDelete(vehiculId) {
            console.log(vehiculId);
            if (confirm("Ești sigur că vrei să ștergi acest vehicul?")) {
                window.location.href = '/delete-vehicul/' + vehiculId;
            }
        }

        function confirmEdit(vehiculId) {
            if (confirm("Ești sigur că vrei să editezi acest vehicul?")) {
                window.location.href = '/edit-vehicul/' + vehiculId;
            }
        }
    </script>

</head>
<body>
<h2>Bun venit!</h2>
<h3>Vehiculele tale:</h3>
<table border="1">
    <thead>
    <tr>
        <th>Nr. înmatriculare</th>
        <th>Marca</th>
        <th>Model</th>
        <th>An</th>
        <th>Tip</th>
        <th>Data expirării ITP</th>
        <th>Data expirării RCA</th>
        <th>Disponibil</th>
        <th>Serie Sasiu</th>

        <th>Acțiuni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicul : ${vehicule}">
        <td th:text="${vehicul.nrInmatriculare}">Nr. înmatriculare</td>
        <td th:text="${vehicul.marca}">Marca</td>
        <td th:text="${vehicul.model}">Model</td>
        <td th:text="${vehicul.anFabricatie}">An</td>
        <td th:text="${vehicul.tip}">Tip</td>
        <td>
                <div th:text="${vehicul.itpExpirare != null ? vehicul.itpExpirare.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : ''}"
                      th:classappend="
                          ${vehicul.itpExpirare != null && vehicul.itpExpirare.isBefore(T(java.time.LocalDate).now()) ? 'expired' :
                           vehicul.itpExpirare != null && vehicul.itpExpirare.minusMonths(1).isBefore(T(java.time.LocalDate).now()) ? 'warning' : ''}">
                </div>
        </td>
        <td>
                <div th:text="${vehicul.itpExpirare != null ? vehicul.rcaExpirare.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : ''}"
                      th:classappend="
                          ${vehicul.rcaExpirare != null && vehicul.rcaExpirare.isBefore(T(java.time.LocalDate).now()) ? 'expired' :
                           vehicul.rcaExpirare != null && vehicul.rcaExpirare.minusMonths(1).isBefore(T(java.time.LocalDate).now()) ? 'warning' : ''}">
                </div>
        </td>
        <td th:text="${vehicul.disponibil ? 'Da' : 'Nu'}">Disponibil</td>
        <td th:text="${vehicul.serieSasiu}">Serie Sasiu</td>
        <td>
            <button th:onclick="'confirmDelete(' + ${vehicul.id} + ')'" style="border: none; background: none; cursor: pointer;">
                <img src="/images/trash-icon.png" alt="Șterge" width="20" height="20">
            </button>

            <button th:onclick="'confirmEdit(' + ${vehicul.id} +  ')'" style="border: none; background: none; cursor: pointer;">
                <img src="/images/edit-icon.png" alt="Editează" width="20" height="20">
            </button>
        </td>
    </tr>
    </tbody>
</table>

    <a href="/acasa/adauga-vehicul" class="btn">Adaugă vehicul</a>


</body>
</html>